%p#notice= notice

%p
  %b Name:
  = @artist.name

%p= link_to t('.add_album'), new_album_path(artist_id: @artist)

= link_to t('.edit'), edit_artist_path(@artist)
\|
= link_to t('.back'), artists_path
