
%nav.navbar.navbar-light.bg-light
  %a.navbar-brand{:href => root_path} UrMusicLib
  %button.navbar-toggler{"aria-controls" => "navbarNavAltMarkup", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#navbarNavAltMarkup", "data-toggle" => "collapse", :type => "button"}
    %span.navbar-toggler-icon
  #navbarNavAltMarkup.collapse.navbar-collapse
    .navbar-nav
      %a.nav-item.nav-link{:href => root_path} Home
      %a.nav-item.nav-link{:href => contact_path} Contact
      %a.nav-item.nav-link{:href => artists_path} Artists
      %a.nav-item.nav-link{:href => albums_path} Albums
    %nav.auth
      - if user_signed_in?
        = "#{current_user.email} |"
        = link_to t('profile'), edit_user_registration_path
        = '|'
        = link_to t('logout'), destroy_user_session_path, method: 'delete'
      - else
        = link_to t('login'), new_user_session_path
        = '|'
        = link_to t('sign_up'), new_user_registration_path

    - flash.each do |key, value|
      = content_tag :div, content_tag(:p, value), id: "#{key}" unless value.blank?
